 .book_grille > div {
            border-radius: 5px;
            padding: 10px;
            background-color: #2196f3;
            border: 2px solid black;
        }
        .book_grille {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 90px;
}
bd {
  grid-area: header;
}

.book_grille>p{
font-style:bold;}
.titre{
	grid-column: 2;
}
h1{
	font-size:20px;
	color:white;
}
p{
	font-size:15px;
	font-family:bold;
	color:white;
}
button {
	background-color: white;
	color: black}
textarea {
 height:4em;
 width:100%
}
